// ------------------------------------------------------------------------------------
// XTS MENUS
// ------------------------------------------------------------------------------------

.xts-mega-menu-custom-fields {
	display: none;
	overflow: hidden;
	clear: both;
	padding: 0;
}